/*Pseudo-clases*/
:root{
    --blanco: #ffffff;
    --negro: #000000;
    --azul: #1f6feb;
    --azul-claro: #66ccff;
    --gris: #b3b3b3;
    --fuente-principal: 3.8rem;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

h1 {
    font-size: 2.8rem;
}

h2 {
    font-size: 1.8rem;
}

h3 {
    font-size: .8rem;
}

body {
    font-family: Ubuntu-m;
    padding: 0;
    margin: 0;
    background-image: linear-gradient(to top, var(--gris) 5%, var(--blanco) 95%);
}

/* CONTENEDOR */

.container {
    max-width: 95%;
    margin: 1rem auto;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

/* FIN CONTENEDOR */

/* CABEZAL */

.container-adso {
    display: flex;
    justify-content: center;
    margin: .5rem 0;
    padding: 0 .5rem;
    align-items: center;
}

/* FIN CABEZAL */

.container-adso img {
    width: 5rem;
}

/* INICIO NAV */

.nav-bg-container {
    padding: 1rem;
    margin: 0;
    width: auto;
    background-image: linear-gradient(to right, var(--azul-claro) 20%, var(--azul) 80%);
    font-size: 1rem;
}

.nav-principal {
    display: flex;
    justify-content: center;
    width: 100%;
}

.nav-principal a{
    padding: 0 2rem;
    margin: 0 2rem;
    text-decoration: none;
    color: var(--negro);
    transition: color 0.5s ease;
}

.nav-principal a:hover{
    color: var(--azul);
}

/* FIN NAV */

/* INICIO FONDO */

.container-bg {
    background: url("/img/fondo-programacion.jpg") no-repeat center/cover; /* Agrupando propiedades de fondo */
    height: 20rem;
/*
    background-image: url("/img/fondo-programacion.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 20rem;
 */
}


.section-bg {
    color: var(--blanco);
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 0 1rem 2rem 0;
}

.container-icon {
    display: flex; /* Usar flexbox para alinear imagen y texto */
    align-items: center; /* Alinear verticalmente */
    justify-content: center; /* Centrar horizontalmente */
    margin-bottom: 2.5rem;
}

.container-icons {
    display: flex;
    justify-content: center;
    
    padding: 0 0 1.5rem 0;
}

img {
    width: 2.5rem;
    margin-left: 1rem;
}

.container-icons i {
    font-size: 1rem;
}

/* FIN FONDO */

/* INICIO PRINCIPAL */

.main-box-shadow {
    -webkit-box-shadow: -1px -3px 16px 2px rgba(0,0,0,0.48);
    -moz-box-shadow: -1px -3px 16px 2px rgba(0,0,0,0.48);
    box-shadow: -1px -3px 16px 2px rgba(0,0,0,0.48);
}